.image {
  object-fit: cover;
  border-radius: var(--radius);
}

.link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  transition: opacity 0.15s ease;
}

.link:hover {
  opacity: 1;
}

.wrapper {
  height: 12rem;
  margin: 1.5rem 0;
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
}
